<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Copyright Protection</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/stylesheets/style.css" rel="stylesheet" />
</head>

<body id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Copyright Protection</a>
      <button
        class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
        type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Portfolio</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- Masthead-->
  <header class="masthead bg-info text-white text-center">
    <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Avatar Image-->
      <img class="masthead-avatar mb-5" src="/images/avataaars.svg" alt="" />
      <!-- Masthead Heading-->
      <h1 class="masthead-heading text-uppercase mb-0">Copyright Protection</h1>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Masthead Subheading-->
      <p class="masthead-subheading font-weight-light mb-0">한국저작권위원회 앱</p>
    </div>
  </header>
  <!-- Portfolio Section-->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">
      <!-- Portfolio Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Functions</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Portfolio Grid Items-->
      <div class="row justify-content-center">
        <!-- Portfolio Item 1-->
        <div class="col-md-6 col-lg-6 mb-5">
          <div class="portfolio-item mx-auto" id="btnQueryAllCopyrights" data-toggle="modal" data-target="#queryAllCopyrights">
            <div
              class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">저작권 전체 조회</div>
            </div>
            <img class="img-fluid" src="/images/portfolio/cabin.png" alt="" />
          </div>
        </div>
        <!-- Portfolio Item 2-->
        <div class="col-md-6 col-lg-6 mb-5">
          <div class="portfolio-item mx-auto" id="btnQueryCopyright" data-toggle="modal" data-target="#queryCopyright">
            <div
              class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">저작권 조회</div>
            </div>
            <img class="img-fluid" src="/images/portfolio/cake.png" alt="" />
          </div>
        </div>
        <!-- Portfolio Item 3-->
        <div class="col-md-6 col-lg-6 mb-5">
          <div class="portfolio-item mx-auto" id="btnRegisterCopyright" data-toggle="modal" data-target="#registerCopyright">
            <div
              class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">저작권 등록</div>
            </div>
            <img class="img-fluid" src="/images/portfolio/circus.png" alt="" />
          </div>
        </div>
        <!-- Portfolio Item 4-->
        <div class="col-md-6 col-lg-6 mb-5 mb-lg-0">
          <div class="portfolio-item mx-auto" id="btnQueryCopyrightsByAuthor" data-toggle="modal" data-target="#queryCopyrightsByAuthor">
            <div
              class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">원 저작자로 저작권 조회</div>
            </div>
            <img class="img-fluid" src="/images/portfolio/game.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Copyright Section-->
  <div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright © Your Website 2020</small></div>
  </div>
  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
  <div class="scroll-to-top d-lg-none position-fixed">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i
        class="fa fa-chevron-up"></i></a>
  </div>
  <!-- Portfolio Modals-->
  <!-- Portfolio Modal 1-->
  <div class="portfolio-modal modal fade" id="queryAllCopyrights" tabindex="-1" role="dialog"
    aria-labelledby="queryAllCopyrightsLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"
                  id="queryAllCopyrightsLabel">저작권 전체 조회</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Result Area -->
                <div class="text-center">
                  <p id="result"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio Modal 2-->
  <div class="portfolio-modal modal fade" id="queryCopyright" tabindex="-1" role="dialog"
    aria-labelledby="queryCopyrightLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"
                  id="queryCopyrightLabel">저작권 조회</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Query Copyright InputBox, Button -->
                <div class="control-group text-center">
                  <div class="form-group floating-label-form-group controls mb-5 pb-2">
                    <label>저작권 번호</label>
                    <input class="form-control text-center" id="txtCopyrightNo" type="text"
                      placeholder="Copyright Number" required="required"
                      data-validation-required-message="저작권 번호를 입력해주세요." />
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-xl" id="btnQuery">조회</button>
                </div>
                <!-- Result Area -->
                <div class="text-center">
                  <p id="result"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio Modal 3-->
  <div class="portfolio-modal modal fade" id="registerCopyright" tabindex="-1" role="dialog"
    aria-labelledby="registerCopyrightLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"
                  id="registerCopyrightLabel">저작권 등록</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Register Copyright InputBox, Button -->
                <div class="control-group text-center">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>저작권 번호</label>
                    <input class="form-control text-center" id="txtCopyrightNo" type="text"
                      placeholder="저작권 번호" required="required"
                      data-validation-required-message="저작권 번호를 입력해주세요." />
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="control-group text-center">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>제목</label>
                    <input class="form-control text-center" id="txtTitle" type="text"
                      placeholder="제목" required="required"
                      data-validation-required-message="제목을 입력해주세요." />
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="control-group text-center">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>저작물 종류</label>
                    <input class="form-control text-center" id="txtContentType" type="text"
                      placeholder="저작물 종류" required="required"
                      data-validation-required-message="저작물 종류를 입력해주세요." />
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="control-group text-center mb-5">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>저작권자명</label>
                    <input class="form-control text-center" id="txtAuthor" type="text"
                      placeholder="저작권자명" required="required"
                      data-validation-required-message="저작권자명을 입력해주세요." />
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-xl" id="btnRegister">등록</button>
                </div>
                <!-- Result Area -->
                <div class="text-center">
                  <p id="result"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio Modal 4-->
  <div class="portfolio-modal modal fade" id="queryCopyrightsByAuthor" tabindex="-1" role="dialog"
    aria-labelledby="queryCopyrightsByAuthorLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"
                  id="queryCopyrightsByAuthorLabel">저작권자로 저작권 조회</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Change Copyright Owner InputBox, Button -->
                <div class="control-group text-center mb-5">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>저작권자</label>
                    <input class="form-control text-center" id="txtAuthor" type="text"
                      placeholder="저작권자" required="required"
                      data-validation-required-message="저작권자명을 입력해주세요." />
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-xl" id="btnQuery">조회</button>
                </div>
                <!-- Result Area -->
                <div class="text-center">
                  <p id="result"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio Modal 5-->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal5Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"
                  id="portfolioModal5Label">Locked Safe</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image-->
                <img class="img-fluid rounded mb-5" src="/images/portfolio/safe.png" alt="" />
                <!-- Portfolio Modal - Text-->
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque
                  assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam
                  velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio Modal 6-->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal6Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"
                  id="portfolioModal6Label">Submarine</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image-->
                <img class="img-fluid rounded mb-5" src="/images/portfolio/submarine.png" alt="" />
                <!-- Portfolio Modal - Text-->
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque
                  assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam
                  velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Third party plugin JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <!-- Core theme JS-->
  <script src="/javascripts/scripts.js"></script>
  <script>
    $(function () {
      // Query All Copyrights
      $('#btnQueryAllCopyrights').click(async () => {
        const result = await fetch('/api/copyrights');
        const json = await result.json();
        if(json.length === 0) {
          $('#queryAllCopyrights #result').html(`<font color="red">Unable to query copyright.</font>`);
          return;
        }
        let table = '<table class="table-car"><thead><tr><th>ID</th><th>Title</th><th>Content Type</th><th>Author</th></tr></thead><tbody>';
        for(let i = 0; i < json.length; i++) {
          table += '<tr>';
          table += `<td>${json[i].Key}</td>`;
          table += `<td>${json[i].Record.title}</td>`;
          table += `<td>${json[i].Record.contentType}</td>`;
          table += `<td>${json[i].Record.author}</td>`;
          table += '</tr>';
        }
        table += '</tbody></table>'
        $('#queryAllCopyrights #result').html(table);
      });
      
      // Highlight row
      $('.table-copyright tbody tr').hover(() => {
        $('.table-copyright tbody tr').removeClass('active-row');
        $(this).addClass('active-row');
      });

      // Query Copyright
      $('#btnQueryCopyright').click(() => {
        $('#queryCopyright #txtCopyrightNo').val('');
        $('#queryCopyright #result').html('');
      });

      $('#queryCopyright #btnQuery').click(async () => {
        const copyrightNo = $('#txtCopyrightNo').val();
        if(!copyrightNo) {
          $('#queryCopyright #result').html(`<font color="red">Please enter copyright number.</font>`);
          return;
        }
        
        const result = await fetch(`/api/copyrights/${copyrightNo}`);
        if(!result.ok) {
          $('#queryCopyright #result').html(`<font color="red">Unable to query copyright with <b>${copyrightNo}</b>.</font>`);
          return;
        }

        const json = await result.json();
        let table = '<table class="table-car"><thead><tr><th>ID</th><th>Title</th><th>Content Type</th><th>Author</th></tr></thead><tbody>';
        table += '<tr>';
        table += `<td>${json.id}</td>`;
        table += `<td>${json.title}</td>`;
        table += `<td>${json.contentType}</td>`;
        table += `<td>${json.author}</td>`;
        table += '</tr>';
        table += '</tbody></table>'
        $('#queryCopyright #result').html(table);
        // $('#resultQueryCopyright').html(`Unable to query car with ${carNo}`);
      });

      // Create Copyright
      $('#btnRegisterCopyright').click(() => {
        $('#registerCopyright #txtCopyrightNo').val('');
        $('#registerCopyright #txtTitle').val('');
        $('#registerCopyright #txtContentType').val('');
        $('#registerCopyright #txtAuthor').val('');
        $('#registerCopyright #result').html('');
      });

      $('#registerCopyright #btnRegister').click(async () => {
        const body = {
          copyrightNo: $('#registerCopyright #txtCopyrightNo').val(),
          title: $('#registerCopyright #txtTitle').val(),
          contentType: $('#registerCopyright #txtContentType').val(),
          author: $('#registerCopyright #txtAuthor').val(),
        }
        const result = await fetch('/api/copyrights', {
          method: 'POST',
          body: JSON.stringify(body),
          headers: { 'Content-Type': 'application/json' }
        });
        const json = await result.json();
        $('#registerCopyright #result').html(json.msg);
      });

      // Query Copyrights By Author
      $('#btnQueryCopyrightsByAuthor').click(() => {
        $('#queryCopyrightsByAuthor #txtAuthor').val('');
        $('#queryCopyrightsByAuthor #result').html('');
      });

      $('#queryCopyrightsByAuthor #btnQuery').click(async () => {
        const author = $('#queryCopyrightsByAuthor #txtAuthor').val();
        if(!author) {
          $('#queryCopyrightsByAuthor #result').html(`<font color="red">Please enter author.</font>`);
          return;
        }

        const result = await fetch(`/api/copyrights/authors/${author}`);
        const json = await result.json();
        if(json.length === 0) {
          $('#queryCopyrightsByAuthor #result').html(`<font color="red">Unable to query copyright with <b>${author}</b>.</font>`);
          return;
        }

        let table = '<table class="table-car"><thead><tr><th>ID</th><th>Title</th><th>Content Type</th><th>Author</th></tr></thead><tbody>';
        for(let i = 0; i < json.length; i++) {
          table += '<tr>';
          table += `<td>${json[i].Key}</td>`;
          table += `<td>${json[i].Record.title}</td>`;
          table += `<td>${json[i].Record.contentType}</td>`;
          table += `<td>${json[i].Record.author}</td>`;
          table += '</tr>';
        }
        table += '</tbody></table>'
        $('#queryCopyrightsByAuthor #result').html(table);
      });
    });
  </script>
</body>

</html>